.card{
    background-color: white;
    margin: 0 auto;
    padding: 80px;
    top: 50px;
    left:27%;
    border-radius:4px ;
    display: inline-block;
    box-shadow: 0 3px 4px #C8D0C8;
}
.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 205px;
    background-color: #eeeafb;

}